# Porta em que o servidor HTTP irá rodar (padrão: 3000)
PORT=3000

# Ambiente de execução: 'development', 'test' ou 'production'
NODE_ENV=development

# URL de conexão com o banco de dados PostgreSQL
DATABASE_URL="postgresql://<USUARIO>:<SENHA>@<HOST>:<PORTA>/<NOME_DO_BANCO>?schema=public"

# Chave secreta para assinatura dos tokens JWT (use uma string longa e segura em produção)
JWT_SECRET="sua_chave_secreta_super_segura_aqui"

# Tempo de expiração do token JWT (ex: '1d', '7d', '24h')
JWT_EXPIRES_IN="7d"
